# Backend API Environment Variables

# Khai báo địa chỉ Frontend để cho phép CORS. (Dùng dấu * để cho phép mọi nguồn - không an toàn trong Production)
CORS_ORIGIN=https://f9-app.vercel.app

# Port mặc định thường sẽ được Railway và môi trường host cấu hình thay.
PORT=3001

# Fallback Google Gen AI API Key (Phòng trường hợp user không nhập trên giao diện).
VERTEX_API_KEY="AIzaSyA..."
